doctype html
html
  head
    title Nebula_Tech
    block scripts
    block style
    
  body
    header 
     
      div.tech 
        h1 Space_Tech
    nav#navbar
        ul
          div#Logo
            img(src="/static/img/satellite.jpg")
          h3 Nebula
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") New-Tech]
          li #[a(href="/") Space-Research]
          li #[a(href="/contact") Contacts]
    block content
    footer 
        a.CCP(href='#') FAQ
        a.CCP(href='#') Terms and policy
        a.CCP(href='#') Contact us
        a.CCP(href='#') &copy; 2021:Nebula-Tech
        a.CCP(href='#') www.Nebula_Tech.com 
        p#Footers &nbsp;&nbsp; | &nbsp;&nbsp;ALL RIGHTS RESERVED